{% extends "base.html" %}

{% block content %}
<div class="title">
    <h1>
        <img src="/static/images/GameAssets/contact.png" width="35px">
        Contact us
        <img src="/static/images/GameAssets/contact.png" width="35px">
    </h1>
    <p>
        If you're looking to get in touch with us, feel free to message any of the following links at your convenience. They are monitored on a weekly basis, and we will try to respond as quickly as we can! 
    </p>
</div>

<hr>

<div>
    <p>
        Twitter - <a href="https://twitter.com/osrsbotdetector">@Osrsbotdetector</a><br>
        Discord - <a href="https://discord.gg/RZEf2ms4gs">Bot Detector Plugin Discord</a><br>
        Email - <a href="mailto:osrsbotdetector@gmail.com">osrsbotdetector@gmail.com</a><br>
        Patreon - <a href="https://www.patreon.com/bot_detector">https://www.patreon.com/bot_detector</a><br>
        Github - <a href="https://github.com/Bot-detector">https://github.com/Bot-detector/</a><br>
    </p>
</div>


{% endblock %}