{% extends "base.html" %}

{% block content %}
<div class="title">
    <h1>
        <img src="/static/images/GameAssets/coins.png" width="35px">
        Contributors and Supporters
        <img src="/static/images/GameAssets/coins.png" width="35px">
    </h1>
    <p>
        Contributing to the OSRS Bot Detector plugin is a great way to support the Old School RuneScape community. By helping to identify and remove bots from the game, you can help improve the overall gaming experience for all players. The Bot Detector plugin is an open-source project, which means that anyone can contribute to its development and help make it even better. By joining the team of contributors, you can use your skills and knowledge to make a real difference in the game. Plus, it’s a great opportunity to work with other passionate gamers and developers who share your love for Old School RuneScape.
    </p>
</div>

<hr>

{% endblock %}