{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
   <div class="container">
      <div class="row">
         <article>
            <div class="card card-article card-server mb-4">
               <div class="card-img text-center">
               </div>
               <div class="card-body">
                  <div class="card-icon text-center">
                     <img src="/static/images/logo-sm.png" alt="Bot Detector">
                  </div>
                  <h1 class="h3 mt-2 text-center">Privacy & Cookies Policy</h1>
                  <p class="fs-16 mt-4 bt-plugin-desc text-center">
                  <p>
                     The bot detector website does not have cookies.
                  </p>
                  <p>
                     The bot detector project detects the following information from players that you see in oldschool runescape when you have the plugin installed:
                     reported_name, reporting_name, region_id, x_coord, y_coord, z_coord, timestamp, manual_detect,
                     on_members_world, on_pvp_world, world_number, equip_head_id, equip_amulet_id,
                     equip_torso_id, equip_legs_id, equip_boots_id, equip_cape_id, equip_hands_id,
                     equip_weapon_id, equip_shield_id, equip_ge_value
                  </p>
                  <p>
                     When reporting as Anonymous user (default) than the reporting_name is not tracked.
                  </p>
                  <hr>
                  <p>
                     If your question still has not been answered - feel free to message us on
                  </p>

                  <a href="https://discord.gg/RZEf2ms4gs"><i class="fab fa-discord" aria-hidden="true"></i>
                     Discord</a>.
                  </p>
                  <hr>
         </article>
      </div>
   </div>
</div>


{% endblock %}