{% extends "base.html" %}

<div class="container-fluid">
   <div class="container">
      <div class="row">
         <article>
            <div class="card card-article card-server mb-4">
               <div class="card-img text-center">
               </div>
               <div class="card-body">
                  <div class="card-icon text-center">
                     <img src="/static/images/logo-sm.png" alt="Bot Detector">
                  </div>
                  <h1 class="h3 mt-2 text-center">Privacy Policy & Cookies</h1>
                  <p class="fs-16 mt-4 bt-plugin-desc text-center">
                     To do.
                     <hr>
                     If your question still has not been answered - feel free to message us on
                     <a href="https://discord.gg/RZEf2ms4gs"><i class="fab fa-discord" aria-hidden="true"></i> Discord</a>.
                  </p>
                  <hr>
          </article>
        </div>
    </div>
</div>


{% block content %}
