{% extends "base.html" %}

{% block content %}

<div class="flex-box-home">
    <img src="/static/images/GameAssets/bot.png" width="100px">
    <div class="flex-box-home-row">
    <h1>
        Bot Detector
        <!-- <img src="/static/images/GameAssets/bot.png" width="35px"> ** -->
    </h1>
    <h4>
        An Old School Runescape RuneLite Plugin
        <!-- <img src="/static/images/GameAssets/bot.png" width="35px"> ** -->
    </h4>
</div>
</div>

<div>
    <div class="title">
        <h2>An Open-Source Machine Learning Plugin</h2>
    </div>
    <hr>
    <p>
        The Bot Detector Plugin is an open-source community-run machine learning plugin made for Old School RuneScape using the popular third-party client RuneLite. We aim to use this plugin and the corresponding machine learning algorithms to separate players from bots, from a bird's eye view - and send likely bot accounts to Jagex's anti-cheating team for swift removal.
    </p>
    <p>
        If you're interested in supporting our efforts to combat botting in Old School RuneScape, consider joining our Discord community or making a donation to help fund the development of the Bot Detector Plugin. Every contribution helps us continue our work to make the game a better place for all players.
    </p>
</div>
<hr>
<div>
    <div class="title">
        <h3><a class="nbox-link" href="{{ url_for('account_search') }}">Account search</a></h3>
    </div>
    <!-- TODO: variable amount -->
    <p>
        In addition to our efforts to combat botting, we also offer an account search feature on our website. This allows you to check over {{ '{:,}'.format(stats.total_accounts) }} accounts' ban status, bot prediction likelihood, latest hiscore entry, xp-gains, and more! It's a great tool for players who want to keep track of their own accounts or those of their friends.
    </p>
</div>
<hr>
<div>
    <div class="title">
        <h3><a class="nbox-link" href="{{ url_for('contributors') }}">Contributors</a></h3>
    </div>
    <p>
        The Bot Detector Plugin is a community-driven project, and we're grateful for the contributions of our many supporters. On our contributors page, we've displayed everyone that has contributed or supported the development of the Bot Detector Plugin. Becoming a contributor is a great way to support our efforts and get involved in the project. As a contributor, you'll have the opportunity to work with other passionate players to improve the plugin and make Old School RuneScape a better place for all players.
    </p>
    <p>
        Becoming a Patreon contributor to the Bot Detector project comes with several benefits. As a Patreon contributor, you'll have access to a custom Patreon channel on our Discord server where you can connect with other supporters and get exclusive updates on the project. Additionally, you'll have access to the heatmap command, which allows you to see detailed information about bot activity in Old School RuneScape. Your support helps us continue our work to combat botting and make the game a better place for all players.
    </p>
</div>
<hr>
<div>
    <div class="title">
        <h3>Stats</h3>
    </div>
    <p>
        Total bans: {{ '{:,}'.format(stats.total_bans) }}<br>
        Total real players: {{ '{:,}'.format(stats.total_real_players) }} (manually flagged)<br>
        Total accounts: {{ '{:,}'.format(stats.total_accounts) }}
    </p>
</div>

{% endblock %}