html ,body, #app {
  margin:0;
  padding:0;
  height:100%; /* needed for container min-height */
}

body {
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    main {
      position: relative;
      margin: 1rem auto;
      box-sizing: border-box;
      width: 85%;
      padding: 2.5rem;
      height: auto !important;
      min-height: 100%;
      color: #1f1b12;
      background-image: url("@/assets/images/backdrop.gif");
      background-repeat: repeat-y;
      background-position: center;
      background-size: 100%;

      h2 {
        text-align: center;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        width: 104%;
        height: 50px;
        position: absolute;
        left: 0;
        background-size: cover;
      }

      &:before {
        background-image: url("@/assets/images/top.gif");
        transform: translate(-2%, -100%);        
      }

      &:after {
        background-image: url("@/assets/images/bottom.gif");
        transform: translateX(-2%);  
      }
    }

    a {
      color: #1b180c;
      font-weight: bold;
    }
    
    p {
      line-height: 1.5;
    }

    hr {
      border: 1px solid #6b7b17;
      width: 80%;
      margin: auto;
    }

    .wrapper {
        max-width: 900px;
        box-sizing: border-box;
        margin: 0 auto;
        background: url("@/assets/images/background.jpg") center repeat-y;
        min-height: 100%;
        padding: 0.5rem;
    }

    footer {
      font-size: 10px;
      color: white;
      text-align: center;

      a {
        color: #90c040;
      }
    }
}