<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/meta/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Primary Meta Tags -->
    <meta name="title" content="OSRS Bot Detector" />
    <meta name="theme-color" content="#f06262" />
    <meta name="description"
        content="We aim to detect bots in Old School RuneScape using Machine Learning Algorithms." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://osrsbotdetector.com" />
    <meta property="og:title" content="OSRS Bot Detector" />
    <meta name="theme-color" content="#f06262" />
    <meta property="og:description" content="We aim to detect bots in Old School RuneScape using Machine Learning Algorithms.
    " />
    <meta property="og:image" content="/static/meta/metapage.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://osrsbotdetector.com" />
    <meta property="twitter:title" content="OSRS Bot Detector" />
    <meta property="twitter:description" content="We aim to detect bots in Old School RuneScape using Machine Learning Algorithms.
    " />
    <meta name="theme-color" content="#f06262" />
    <meta property="twitter:image" content="/static/meta/metapage.png" />

    <!-- Title of the page, dynamically set based on the template -->
    <title>OSRS Bot Detector</title>

    <!-- Block for additional head content (may include scripts, styles, etc.) -->
    {% block head %}
    {% include 'head.html' %}
    {% endblock %}

    <!-- Font Awesome icon library -->
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v6.5.1/css/pro.min.css">

    <!-- Preconnect links for external resources -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Custom font styles from Google Fonts (Inter) -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Custom stylesheets for the application -->
    <link rel="stylesheet" href="{{ url_for('static', path='boot.botdetector.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='core.botdetector.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='ember.botdetector.css') }}">
</head>

<body>

    <!-- Block for including the header content -->
    {% block header %}
    {% include 'header.html' %}
    {% endblock %}

    <!-- Block for including the navigation content -->
    {% block navigation %}
    {% include 'navigation.html' %}
    {% endblock %}

    <!-- Block for the main content of the page -->
    {% block content %}
    {% endblock %}

    <!-- Block for including the footer content -->
    {% block footer %}
    <!-- Footer section -->
    <footer class="bg-nav">
        <div class="container">

            <!-- Horizontal rule for separation -->
            <hr class="mt-4 mb-7 border-light opacity-10">

            <!-- Row for copyright and links -->
            <div class="row align-items-center justify-content-md-between pb-7">

                <!-- Copyright information -->
                <div class="col-md-6">
                    <div class="copyright text-sm text-center text-md-start text-light">
                        © 2024 <a href="#" class="h6 text-light text-sm font-bold">osrsbotdetector.com</a>, All rights
                        reserved.
                    </div>
                </div>

                <!-- Navigation links for terms, privacy, and cookies -->
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0 mx-n3">
                        <li class="nav-item">
                            <a class="nav-link text-white text-opacity-75 text-white-hover" href="#">
                                Terms
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-opacity-75 text-white-hover" href="">
                                Privacy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-opacity-75 text-white-hover nn-cmp-show" href="#"
                                style="display: inline-block;">
                                Cookies
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
    {% endblock %}

</body>

</html>