{% block navigation %}
<div class="navigation-box">
    <ul class="nbox-nav">
        <li class="nbox-item">
            <a class="nbox-link" href="{{ url_for('home', _scheme='https') }}">Home</a>
        </li>
        <li class="nbox-item">
            <a class="nbox-link" href="{{ url_for('account_search', _scheme='https') }}">Account search</a>
        </li>
        <li class="nbox-item">
            <a class="nbox-link" href="{{ url_for('contributors', _scheme='https') }}">Contributors</a>
        </li>
        <li class="nbox-item">
            <a class="nbox-link" href="{{ url_for('faq', _scheme='https') }}">FAQ</a>
        </li>
        <li class="nbox-item">
            <a class="nbox-link" href="{{ url_for('contact', _scheme='https') }}">Contact</a>
        </li>
    </ul>
</div>
{% endblock %}