body {
    display: block;
    margin: 0px;
    background-color: #1a1a1a;
    background-color: #151515;
    
}

/* Add styles for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #333333; /* changed to dark gray color */
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

/*add style for content container*/
div.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-image: url('/static/images/background.jpg');
    max-width: 800px;
    margin: 0 auto;
    min-height: 95vh;
    color: whitesmoke;
}

div.content-backdrop-top {
    height: 50px;
    width: 88%;
    background-size: contain;
    background-image: url('/static/images/top.gif');
}

div.content-backdrop {
    width: 88%;
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/static/images/backdrop.gif');
}

div.content-backdrop-bottom {
    height: 50px;
    width: 88%;
    background-size: contain;
    background-image: url('/static/images/bottom.gif');
}